.cMenuWrap{
	position:absolute;
	background-color:#dbe1e7;
	display:none;
	-moz-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	-webkit-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	-ms-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	box-shadow:5px 5px 2px rgba(0,0,0,.20);
	border: 1px solid #b7bfc6;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
}

.cMenuWrap table{
	width:150px;
	padding:5px;
}

.space{
	border-right:1px solid #d7d9dc;
	width:30px;

}

.text{
	padding-left:5px;
	width:115px;
}

.cMenuWrap td{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:30px;
}

.cMenuWrap tr:hover > .space{
	border-radius:5px 0 0 5px;
	border-left:1px solid #c5c6c7;
	border-top:1px solid #c5c6c7;
	border-bottom:1px solid #c5c6c7;
	background-color:#e5ebf2;
	width:28px;

}

.cMenuWrap tr:hover > .text{
	border-right:1px solid #c5c6c7;
	border-top:1px solid #c5c6c7;
	border-bottom:1px solid #c5c6c7;
	border-radius:0 5px 5px 0;
	background-color:#e5ebf2;
	width:113px;
	
}

.cMenuWrap a{
	color: #000;
	text-decoration:none;
	cursor:default;
}

.submenu{
	position:absolute;
	background-color:#dbe1e7;
	display:none;
	width:150px;
	margin-left:-10px;
	-moz-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	-webkit-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	-ms-box-shadow:5px 5px 2px rgba(0,0,0,.20);
	box-shadow:5px 5px 2px rgba(0,0,0,.20);
	border: 1px solid #b7bfc6;
}